@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: rgb(84 101 255) !important;
}

.swiper-wrapper{
  justify-content: center;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width:1121px) {
  .detail-img{
    width: 48.9%;
    height: 48.9%;
  }
}

@media (min-width:768px) {
  .card-container {
    flex-direction: row !important;
  }
}

@media (min-width:850px) and (max-width:1120px) {
  .detail-imgs {
    flex-direction: flex;
    justify-content: space-between;
  }
  .detail-title{
    margin-top: 40px;
  }
}

@media (max-width:1120px) {
  .detail-imgs {
    flex-direction: flex;
    justify-content: space-between;
  }
  .detail-img-container {
    flex-wrap: wrap;
  }
  .detail-img{
    width: 22.9%;
    height: 31.9%;
  }
}
@media (max-width:500px){
  .detail-imgs {
    flex-direction: column;
    justify-content: start;
  }
  .detail-img{
    width: 100%;
    height: 15.9%;
  }
}
